Repository SlowSnakPierre/codemaker, changes with the labels that .github/labeler.yml gives for each.
All labels: ui, electron, components, workflow, configuration, documentation, tests, dependencies, hooks, types

feat: update package.json with new dependencies and scripts
  .lintstagedrc.json
Labels: components

chore: update package.json scripts and dependencies
  .gitignore
  .husky/pre-commit
  bun.lock
  package-lock.json
  package.json
  scripts/engine/engine-dev.js
Labels: components, configuration, dependencies

feat: update Electron window settings and add favicon/logo
  main/background.ts
  renderer/public/favicon.ico
  renderer/public/logo.svg
  scripts/engine/engine-dev.js
Labels: components

fix: correct lint-staged configuration for Windows PowerShell and add module type
  .lintstagedrc.json
  .prettierignore
  bun.lock
  docs/ALIASES.md
  docs/ARCHITECTURE.md
  docs/CONTRIBUTING.md
  docs/README.md
  docs/RELEASING.md
  main/background.ts
  main/helpers/handlers.ts
  main/helpers/index.ts
  main/preload.ts
  package.json
  renderer/src/app/globals.css
  renderer/src/app/page.tsx
  renderer/src/components/electron/titlebar.tsx
  renderer/src/lib/types.ts
  renderer/src/utils/editor-utils.ts
  renderer/tsconfig.json
Labels: components, configuration, documentation, dependencies

fix: corriger l'importation de TitleBar et simplifier la vérification de isElectron
  renderer/src/app/page.tsx
Labels: components

.github/labeler.yml:

ui:
    - src/components/ui/**/*

electron:
    - electron/**/*

components:
    - src/components/**/*
    - "!src/components/ui/**/*"

workflow:
    - .github/**/*

configuration:
    - "*.config.*"
    - tsconfig.json
    - package.json

documentation:
    - "**/*.md"
    - docs/**/*

tests:
    - "**/*.test.*"
    - "**/*.spec.*"
    - e2e/**/*

dependencies:
    - package.json
    - package-lock.json

hooks:
    - src/hooks/**/*

types:
    - "**/*.d.ts"
    - src/core/types
